:root{
    --gold-color: #6E5A3D;
    --grey-color: #D9D9D9CC;
    --brown-color: #765B4FCC;
    --dark-blue-color: #111644;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
}

header{
    width: 100vw;
    height: 152px;
    left: 0px;
    margin: 0 auto;
    background: var(--gold-color);

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo{
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    align-items: center;
    text-align: center;
    color: #FFF3F3;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    margin-left: 10px;
}

nav ul{
    display: flex;
    align-items: center;
    margin-right: 50px;
    gap: 72px;
    list-style: none;
}

nav ul li img{
    filter: contrast(100);
}

nav ul li a{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.banner{
    box-sizing: border-box;
    position: absolute;
    width: 100vw;
    height: 73px;
    background: #404040;
    border-bottom: 2px solid #FFFFFF;
}

.banner h2{
    position: absolute;
    width: 1436px;
    height: 73px;
    left: 43vw;
    top: -35px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.content{
    box-sizing: border-box;

    position: absolute;
    top: 225px;
    width: 100vw;
    height: 750px;

    background: #404040;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2px;
}

.content form{
    box-sizing: border-box;

    position: absolute;
    width: 500px;
    height: 620px;
    left: 40vw;
    bottom: 79px;
    top: 25px;

    background: #111644;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 13px;
}

.content form table{
    position: absolute;
    left: 50px;
    right: 50px;
    top: 35px;
    max-height: 550px;
    background-color: #FFFFFF;
}

.content form table thead{
    width: 658px;
    height: 52px;
    background: #404040;
}

.content form table thead th{
    width: 150px;
    height: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    align-items: left;
    text-align: center;

    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    table-layout: auto;
}

.content form table tr{
    width: 658px;
}

.content form table tr td{
    width: 150px;
    height: 50px;

    font-family: 'Inter';
    font-style: normal;
}



